{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [
            "last 3 firefox major versions",
            "last 3 and_ff major versions",
            "last 3 chrome major versions",
            "last 3 and_chr major versions",
            "last 3 edge major versions",
            "last 2 safari major versions",
            "last 2 ios_saf major versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-pipeline-operator",
      {
        "proposal": "minimal"
      }
    ]
  ]
}
