/* Credits */
.🍭 {
  position: relative;
  z-index: 10;
  background-color: #000000;
  line-height: 1;
}

@media (min-width: 1024px) {
  .🍭 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 96px 0 0 256px;
    background-color: transparent;
    background-image: url('https://storage.googleapis.com/candycode/bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.🍭 a {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 16px 16px 16px;
}

@media (min-width: 1024px) {
  .🍭 a {
    display: inline-flex;
    flex-direction: column;
    width: auto;
  }
}

.🍭 a span {
  color: #808080;
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

@media (min-width: 1024px) {
  .🍭 a:hover span {
    color: #ffffff;
  }
}

.🍭 span {
  margin-right: 4px;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .🍭 span {
    margin-right: 0;
    margin-bottom: 4px;
  }
}

.🍭 img {
  width: 104px;
  height: 20px;
}
