/* Flexbox */
@responsive {
  .center {
    @apply justify-center items-center;
  }
}

/* Aspect ratio */
[class*='aspect-ratio-'] {
  @apply relative block h-0;
}

[class*='aspect-ratio-'] > * {
  @apply block w-full h-full absolute left-0 top-0;
}

@responsive {
  .aspect-ratio-square,
  .aspect-ratio-1\/1 {
    padding-top: 100%;
  }
  .aspect-ratio-wide,
  .aspect-ratio-4\/3 {
    padding-top: 75%;
  }
  .aspect-ratio-wider,
  .aspect-ratio-16\/9 {
    padding-top: 56.25%;
  }
  .aspect-ratio-widest,
  .aspect-ratio-21\/9 {
    padding-top: 42.1875%;
  }
  .aspect-ratio-tall,
  .aspect-ratio-3\/4 {
    padding-top: 133.333333%;
  }
  .aspect-ratio-taller,
  .aspect-ratio-9\/16 {
    padding-top: 177.777778%;
  }
  .aspect-ratio-tallest,
  .aspect-ratio-9\/21 {
    padding-top: 233.333333%;
  }
}

/* Borders */
@responsive {
  .border-x {
    @apply border-l border-r;
  }
  .border-y {
    @apply border-t border-b;
  }
}

/* Color */
@responsive {
  @variants hover {
    .color {
      filter: grayscale(0%);
    }
    .grayscale {
      filter: grayscale(100%);
    }
  }
}

/* Interactivity */
@layer utilities {
  .touch-action-none {
    touch-action: none;
  }
}

@tailwind utilities;
